body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #F8C8DC;
    padding: 10px; /* Agrega un padding para evitar que los elementos toquen los bordes en pantallas pequeñas */
}

.header_text {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn {
    background-color: #ffaeba;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0.7;
}

.btn:hover {
    background-color: #ff87a1; /* Cambio de color al pasar el mouse */
    opacity: 1;
}

#noButton {
    position: absolute;
    left: calc(50% + 150px); /* Inicia 150px a la derecha del centro */
    top: 77%; /* Centrado verticalmente */
    transform: translate(-50%, -50%); /* Centra el botón en su posición */
    transition: left 0.5s ease, top 0.5s ease; /* Animar el movimiento del botón */
}

#yesButton {
    position: relative;
    right: 150px;
}

@media (max-width: 768px) {
    .header_text {
        font-size: 28px;
    }

    .btn {
        padding: 12px 24px;
        font-size: 14px;
    }

    #noButton, #yesButton {
        position: relative;
        left: 0;
        right: 0;
    }
}

@media (max-width: 480px) {
    .header_text {
        font-size: 24px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 12px;
    }
}
